.footer__column-link {
  margin: auto;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  -webkit-animation: half-opacity 2s forwards;
          animation: half-opacity 2s forwards;
  color: gray;
  }
